@import '../../../../styles.scss';

.miniature-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.miniature-card.not-owned { 
  border: 3px solid $primary-color;
}

.miniature-card.owned {
  border: 3px solid $secondary-color;
}