@import '../styles.scss';

.app-layout {   
  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .pd-8 {
    padding: 8px;
  }

  & > * {
    padding: 8px;
  }
}

.app-layout form {
  .pixel-input {
    padding: 4px;
    font-family: 'Pixel-Font';
    font-size: 16px;
    background-color: #1e1e1e;
    color: $primary-color;
    border: 2px solid $primary-color;
    border-radius: 4px;
    outline: none;
  }

  & > * {
    padding: 8px;
  }
}


