<div class="app-layout column-layout">

  <pixel-span [text]="'Account'"></pixel-span>
  <pixel-span [text]="connectedAccount"></pixel-span>

  <pixel-span [text]="'Contract address'"></pixel-span>
  <div class="row">
    <pixel-span class="pd-8" [text]="contractAddress"></pixel-span>
    <pixel-button class="pd-8" [text]="'Paste contract'" (click)="paste()"> </pixel-button>
  </div>
  
  <pixel-button [text]="'Connect'" (click)="connectToMetamask()"></pixel-button>

  <form class="column-layout" [formGroup]="miniatureDataForm">
    <input class="pixel-input" placeholder="name" formControlName="name"/>
    <input class="pixel-input" placeholder="description" formControlName="description" />
    <miniature-url-selector 
      [miniatureUrls]="miniatureUrls"
      (miniatureUrlSelected)="updateMiniatureUrl($event)"
    ></miniature-url-selector>
    <input class="pixel-input" placeholder="price" formControlName="price"/>
  </form>

  <pixel-button [text]="'Mint'" (clickButton)="mint()"></pixel-button>

  <miniature-gallery [miniatures]="miniatures"></miniature-gallery>
</div>