@import '../../../../styles.scss';

.pixel-span {
  font-family: 'Pixel-Font';
  font-size: 16px;
  color: $primary-color;
}

.pixel-span-short {
  display: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 125px;
}