<div class="header-container">
  <div class="left">
  </div>

  <div class="mid">
    <pixel-button *ngFor="let navigationButton of navigationButtons" 
      [text]="navigationButton.name"
      [disabled]="isDisabled(navigationButton.name)"
      [selected]="pathSelected(navigationButton.path)"
      (click)="changePath(navigationButton.path)">
    </pixel-button>
  </div>
  
  <div class="right">
    <pixel-span *ngIf="account" [text]="account" [short]="true"></pixel-span>
    <div *ngIf="status === metamaskConnectionStatus.Connecting">
      <pixel-loader></pixel-loader>
    </div>
   
    <div  style="padding-left: 10px">
      <pixel-button 
        *ngIf="status !== metamaskConnectionStatus.Connected"
        [disabled]="status === metamaskConnectionStatus.Connecting"
        [text]="'Connect'"
        (clickButton)="connectClicked()">
      </pixel-button>

      <pixel-button
        *ngIf="status === metamaskConnectionStatus.Connected"
        [text]="'Disconnect'"
        (clickButton)="disconnectClicked()"></pixel-button>
    </div>
  </div>
</div>